*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #6299c3;
}

.music-container{
   background: #d1d5d7;
   width: 400px;
   padding: 25px 35px;
   text-align: center;
}